{%extends 'base.html'%}
{%load static%}
{%block content%}



<div class="slider-container">
  <div class="slider-wrapper">
      <div class="slider">
          <div class="slide">slide 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui illo veniam praesentium vitae quia a, eligendi dolorum sunt voluptates mollitia, error neque distinctio vel molestiae totam eius, perspiciatis incidunt iure!</div>
          <div class="slide" ></div>
          <div class="slide">Slide 3</div>
          <div class="slide">Slide 4</div>
          <div class="slide">Slide 5</div>
      </div>
  </div>
  <button class="btn btn-left" onclick="prevSlide()">&#9665;</button>
  <button class="btn btn-right" onclick="nextSlide()">&#9655;</button>
</div>

<br>
<center><h2  style="font-family: Finger Paint, sans-serif;text-decoration: underline;" ></h2> </center>


      <div class="items_section">
        
        {% for product in products%}
        <div class="product_block">
          <img src="{{product.image.url}}" class="product_image" alt="">
        <div class="product_description"> 
     <h5>{{product.name}}</h5>
         <p>{{product.description}} </mollitia></p> 
           </div>

           <div class="product_price">
            <p style="color: rgb(109, 109, 8);text-shadow: -1px 0.5px 1px black;"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
            <p style="margin-top: -7px;">
            <b>$ {{product.price}}</b> <span style="font-size: 0.8rem;color: grey;text-decoration: line-through;padding:0 5px 0 5px;">${{product.original_price}} </span>  <span style="color:green;font-size: 0.9rem;">{{product.discount_percentage}}off</span></p>
           </div>
         <button style="margin-left: 30%;" id="add_to_cart">Add to cart</button>
      </div>

  {%endfor%}
      </div>
    

      {% endblock %}